*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 100vw;
}
header {
    height: 100vh;
    width: 100%;
    padding: 0 40wv;
    background-image: url(../asset/background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    justify-content: space-between;
    width: 100%;
    position: fixed;

}
.navbar a, .logo_header {
    color: white;
}
.navbar .logo_header {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    top: -5px;
}
/* .navbar .nav_links{
    position: absolute;
    left: 720px;
} */
.navbar .nav_links ul {
    display: flex;
    margin: auto;
    transition: 0.3s;
}
.navbar .nav_links ul li {
    margin:auto;
}
.navbar .nav_links ul li a {
    font-size: x-large;
    margin: 0 3%;
    display: block;  
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 5px 20px;
    overflow: hidden;
}
.navbar .nav_links ul li .btn_active {
    color: aquamarine;
    font-weight: 600;
}
.navbar .menu_navbar {
    width: 1.5em;
}
body header .title_container{
    position: relative;
    top: 200px;
}
body header h2 {
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
    font-family: 'Roboto' sans-serif;
    text-transform: uppercase;
    color: transparent; 
    font-size: 0px;

}
body header h2 span{ 
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: clamp(20px, 8vw, 120px);
}
body header h2:nth-child(1) {
    font-weight: 200;
    animation: txt-appearance 0s 0.75s forwards;
}
body header h2:nth-child(2) {
    animation: txt-appearance 0s 1s forwards;
}
body header h2:nth-child(1) span::after{
    background:  aquamarine;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 0.75s ease-out forwards;
    
}
body header h2:nth-child(2) span::after{
    background: aqua;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
body header h2 span::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
body header .box_menu_links{
    position: relative;
    padding: 21px;
    top: 10px;
    right: 10px;
}


body header .box_menu_links .menu_links img {
    display: none;
}

@media screen and (max-width: 900px){
    header {
        height: 100vh;
        width: 100%;
        background-image: url(../asset/background-1.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .navbar {
        display: flex;
        box-sizing: border-box;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 20%;
        position: fixed;
        top: 0;

    }
    .navbar .menu_navbar {
        display: block;
        width: 50px;
    }
    .nav_links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.205);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
        transition: all 0.5s ease;
    }
    /* body header .box_menu_links:hover{
        border: 0;
        width: auto;
        height: 200px;
        background-color: rgba(127, 255, 212, 0.518);
        box-shadow: 0 0 5px aquamarine, 0 0 5px aquamarine, 0 0 10px aquamarine;
        border-radius:30px;
        
    } */
    .nav_links.mobile-menu {
        margin-left: 0;
    }
    .title_container{
        margin-right: 0;
        
        transition: all 0.3s ease;
    }
    .title_container.mobile-menu-remove-title{
        margin-right: 100%;
        color: transparent;
    }

    .nav_links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .navbar .nav_links ul li {
        margin:25px 0;
        font-size: 1.2em;
        
    }    
    /* body header h2 {
        display: none;
        position: relative;
        overflow: hidden;
        font-size: clamp(20px, 8vw, 120px);
    } */

}
@media (hover: hover) {
    body header .box_menu_links:hover{
        display: flex;
        position: relative;
        top: 10px;
        right: 10px;
        padding: 20px;
        transition-delay: 0.2s;
        border: 1px solid #f0e3e37c;
        flex-direction: column;
        height: 200px;
        background-color: rgba(127, 255, 212, 0.518);
        box-shadow: 0 0 5px aquamarine, 0 0 5px aquamarine, 0 0 10px aquamarine;
        border-radius:30px;
    
    }
    body header .box_menu_links .menu_navbar img:hover{
        position: absolute;
        right: 20px;
        width: 1.5em;
    
    } 
    .navbar .nav_links ul li .btn_active:hover {
        color: aquamarine;
        background: 0;
        box-shadow: none;
    }
    /* .navbar .nav_links ul li a:hover {
    color: #222222e0;
    background-color: aquamarine;
    box-shadow: 0 0 5px aquamarine, 0 0 10px aquamarine, 0 0 20px aquamarine;
    transition-delay: 0.2s;
    border: 2px solid #22222256;
    border-radius: 10px;


}    */
  }
@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(101%)
    }
}
@keyframes txt-appearance {
    100% {
        color: antiquewhite;;
    }
}