*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;
    list-style: none;
}
.navbar .nav_links ul li a:hover{
    color: rgba(4, 130, 255, 0.457) ;
    background-color: aquamarine;
    box-shadow: 0 0 10px aquamarine, 0 0 40px aquamarine, 0 0 80px aquamarine;
    transition-delay: 0.2s;
    border-radius: 2px;

}
.navbar .nav_links ul li .btn_active:hover{
    color: aquamarine;
    background: 0;
    box-shadow: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(../asset/background-1.jpg);
    background-size: cover;
}
.navbar{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    width: 100%;
}
.navbar a, .logo_header {
    color: white;
}
.navbar .logo_header {
    font-size: 4em;
    font-weight: bold;
}


.navbar .nav_links ul {
    display: flex;
    position: relative;
    transition: 0.3s;
}
.navbar .nav_links ul li a{
    margin: 0 20px;
    display: block;  
}

.navbar .nav_links ul li a{
    font-size: x-large;
    letter-spacing: 1px;
    padding: 5px 20px;
    overflow: hidden;

}
.navbar .nav_links ul li .btn_active {
    color: aquamarine;
    font-weight: 600;
}

.navbar .menu_navbar {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
    .navbar .logo_header{
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .navbar .menu_navbar {
        display: block;
    }
    .nav_links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.205);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav_links.mobile-menu{
        margin-left: 0;
    
    }

    .nav_links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .navbar .nav_links ul li {
        margin:25px 0;
        font-size: 1.2em;
        
    }    
}
